/**
	Base for examples/tests.
*/
section {
	display:grid;
	gap: 1em;
	grid-template-columns: repeat( auto-fill, 100px );
	margin-block: 1em;
}
section d {
	display:grid;
	justify-items: center;
}
h2 {
	font-size: 100%;
	margin: 0;
}

body {
	font-family: system-ui, sans-serif;
}
pre {
	background-color: rgba(202, 231, 144, 0.5);
	border: 1px solid #698e1e;
	padding: .5em;
}
